.grid{ display: flex; flex-wrap: wrap; font-family: sans-serif; }
.grid img{ border: 2px solid black; border-radius: 50px; }
.origami { border-radius: 20px; background-color: white; width:310px; font-family: fantasy; }